* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #e8e8e8 !important;
  letter-spacing: 0.4px !important;
}

@media (min-width: 1024px) and (min-height: 768px) {
  body {
    display: flex;
    flex-direction: row;
  }
  .container {
    width: 45% !important;
  }
}
@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: row;
  }
  .container {
    width: 45% !important;
  }
  #currentImage {
    width: 300px;
  }
}
@media (min-width: 576px) and (max-height: 450px) {
  .container {
    width: 90% !important;
    max-height: 576px;
  }
}
input {
  width: 80% !important;
  outline: 1px solid #564256;
  margin: 2% auto !important;
}

button {
  background-color: #e8e8e8 !important;
  width: 80%;
  cursor: pointer;
}
button:hover {
  background-color: #45a049 !important;
  color: #fff !important;
  box-shadow: 0 1px 4px 1px rgba(46, 49, 56, 0.5) !important;
}

@media (min-width: 992px) {
  .button-parent {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }
  .button-parent button {
    width: 35%;
  }
}

#error {
  display: inline-flex;
  color: rgba(255, 0, 0, 0.8509803922);
  padding: 15px;
  font-weight: 500;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 10px 0;
  border-radius: 5px;
}

#selectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#emailSection {
  width: 70%;
  margin: auto;
}

#dropdownContainer {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
#dropdownContainer #emailDropdown {
  width: 70%;
  padding: 8px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  border-radius: 5px;
}
#dropdownContainer #emailDropdown:focus {
  outline: none;
}

#currentImageContainer {
  margin-top: 20px;
}
#currentImageContainer #currentImage {
  max-width: 100%;
  max-height: 300px;
  border-radius: 5px;
  margin-bottom: 1.25rem;
  outline: solid #45a049;
  outline-offset: 2px;
  border: solid 3px #45a049;
}

#nextImageButton {
  margin-top: 10px;
}

#addImageButton {
  margin-top: 10px;
}

#assignedImagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#imageContainer img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 4px;
  margin: 5px;
  transition: transform 0.2s;
}
#imageContainer img:hover {
  transform: scale(1.15);
}
#imageContainer h2 {
  flex-wrap: nowrap;
}

#newEmailButton {
  margin-top: 10px;
  width: 56%;
}

.hidden {
  display: none;
}

.clear-images-button {
  width: 60%;
  margin: 2% auto;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(83, 83, 83, 0.5);
  text-align: center;
  max-height: 800px;
}
.container.overflow {
  overflow-y: scroll;
}

.top-head {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=style.css.map */