*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: map-get($color-var, platinum) !important;
  letter-spacing: 0.4px !important;
}

header {
  padding: 1rem;
  margin: 2rem auto;
  h1 {
    align-self: center;
  }
}


// Media queries

@include iPad_mini {
  .container-wrap {
    display: flex;
    flex-direction: row;
  }
  .container {
    width: 45% !important;
  }
}
@include xl {
  .container-wrap {
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
  }
  .container {
    width: 45% !important;
  }
  #currentImage {
    width: 300px;
  }
}

@include sm-landscape {
  .container {
    width: 90% !important;
    max-height: map-get($b-point, sm);
  }
}
