* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: map-get($color-var, platinum) !important;
  letter-spacing: 0.4px !important;
}

@include xl {
  body {
    display: flex;
    flex-direction: row;
  }
  .container {
    width: 45% !important;
  }
  #currentImage {
    width: 300px;
  }
}

@include sm-landscape {
  .container {
    width: 90% !important;
    max-height: map-get($b-point, sm);
  }
}
