h1 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input {
  height: 2.5rem;
  width: 100%;
  padding-left: 1rem;
  border-radius: 0.25rem;
  border: none;
  outline: 1px solid map-get($color-var, eng-violet);
  display: block;
  margin: 1rem auto 0;
}

button {
  height: 2.5rem;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  font-weight: 700;
  --primary-400: color-mod(var(--primary) tint(10%) saturation(+2.5%));
  color: white;
  margin-top: 0.75rem;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: map-get($color-var, green) !important;
    color: #fff !important;
  }
}

button #error {
  color: red;
}

#selectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#emailSection {
  width: 100%;
}

#dropdownContainer {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  #emailDropdown {
    width: 80%;
    padding: 8px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    option:hover {
      color: #fff !important;
      background-color: map-get($map: $color-var, $key: green) !important;
    }
  }
}

#currentImageContainer {
  margin-top: 20px;
}

#currentImage {
  max-width: 100%;
  max-height: 200px;
  border-radius: 4px;
  margin-bottom: 10px;
}

#nextImageButton {
  margin-top: 10px;
}

#addImageButton {
  margin-top: 10px;
}

#assignedImagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 4px;
    margin: 5px;
  }
  h2 {
    flex-wrap: nowrap;
  }
}

#newEmailButton {
  margin-top: 10px;
}

.hidden {
  display: none;
}
/* Media query for larger screens */
@media screen and (min-width: 992px) {
  #dropdownContainer {
    width: 60%;
  }

  #assignedImagesContainer {
    margin-left: 20px;
  }
}
