.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(83, 83, 83, 0.5);
  text-align: center;
  max-height: 800px;
  &.overflow {
    overflow-y: scroll;
  }
}

.top-head {
  display: flex;
  flex-direction: row;
}
